{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}




<div class="row">
        {% for movie in movies %}
                <div class="col">
                        <div class="card">
                                <img src="{{ movie.imgMovie }}" class=img-fluid" alt="Image du produit" width="200px" height="250px">
                                <div class="card-body">
                                        <a href="{{ path('app_movie_show', { id: movie.id }) }}" class="btn btn-primary btn-sm">Détails</a>
                                </div>
                        </div>
                </div>
        {%  endfor %}
</div>

{% endblock %}