{% extends 'base.html.twig' %}

{% block title %}Hello MovieController!{% endblock %}

{% block body %}

        {% for actor in actors %}
                    <h2>{{ actor.firstname }}  {{ actor.lastname }}</h2>
                    <a href="{{ path('app_actor_show', { id: actor.id }) }}" class="btn btn-primary btn-sm">Détails</a>
        {%  endfor %}
{% endblock %}